*{
    
    font-family: 'Courier New', Courier, monospace ;
    
}
h1, h3{
    color: #b92b27;
}
/* id selector: "using #" */
#login{
    background-color: yellow;
}
#signup{
    background-color: red;
}
/* class selector: using "." */
.upvote{
    background-color: green;
    color: white;
}
nav li a{
    color: orangered;
    background-color: yellow;
}
p+h3{
    text-decoration: underline;
}
.upvote + button{
    background-color:blue;
    color: white;
}
input[type="text"]{
    color: green;
}
input[type="password"]{
    color: red;
}
input[type]{
    background-color: rgb(0, 255, 247);
}
input{
    border-radius: 4px;
}
button:hover{
    background-color: white;
    color: red;
    
}
h3:hover{
    text-decoration: none;
    text-decoration: overline;
    text-decoration: line-through;
}
button:active{
    background-color: green;
}
input[type="radio"]:checked +label{
    font-weight: bold;
    color: red;
}
h1{
    background-color: orange !important;
}
h1{
    background-color: red;
}